body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.logo img {
    cursor: pointer;
    height: 40px;
}

.user {
    display: flex;
    align-items: center;
}

.user img {
    margin-right: 10px;
    width: 48px;
    height: 48px;
    border-radius: 48px;
}

.user-text {
    position: relative;
}

.user-loja {
    color: gray;
    font-size: 13px;
}

.user-info {
    display: flex;
    align-items: center;
}

#user-arrow {
    cursor: pointer;
    width: 28px;
    height: 28px;
}

.dashboard {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.kit-details, .checklist-estrutura {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.kit-details h2, .checklist-estrutura h2{
    margin: 0 0 20px;
}

.kit-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.kit-info > div {
    display: flex;
    align-items: center;
    padding: 10px;
    border: solid 1px #ddd;
    border-radius: 90px;
    font-size: 18px;
}

.kit-info span {
    margin-left: 10px;
    color: gray;
}

.checklist-item {
    width: 325px;
    border-radius: 8px;
    BORDER: solid 1px #ddd;
    gap: 30px;
    padding: 8px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checklist-item select {
    width: 150px;
    padding: 5px;
}

.checklist-esteira button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checklist-esteira button:hover {
    background-color: #0056b3;
}

.checklist-esteira{
}

.checklist-estrutura{
    display: flex;
    flex-direction: column;
}