body {
    margin: 0px;
    background-color: #00111c;
}

.card-piffer {
    display: flex;
    width: 100vh;
    height: 100vh;
    margin-left: 250px;
    justify-content: center;
    align-items: center;
}
hr{
    width: 320px;;
}
.piffer-img {
    width: 320px;
    height: 91.48px;
    top: 329px;
    left: 66px;
    gap: 0px;
    opacity: 0px;
    padding-right: 20px;
}

h1 {
    font-family: Poppins;
    font-size: 64px;
    font-weight: 300;
    line-height: 96px;
    text-align: left;
    color: white;
}

.content-box {
    font-family: Poppins;
    width: 497px;
    height: 100vh;
    position: absolute;
    right: 0px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCFCFC;
    border-radius: 10px;
}

.login-info {
    padding-top: 146px;
    width: 400px;
    height: 352px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text{
    font-family: Poppins;
    margin-bottom: 0px;
}
.login-info h2 {
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 10px;
}

.login-info p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.login-info form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.login-info label {
    margin-bottom: 5px;
    text-align: left;
}

.login-info input {
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-info .options {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.login-info .options label {
    display: flex;
    align-items: center;
}

.login-info .options input {
    margin-right: 5px;
}

.login-info button {
    padding: 20px;
    font-size: 14px;
    font-weight: 700;
    background-color: #0075A0;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    height: 56px;
    margin-left: 25px;
    width: 354px;
    margin-bottom: 138px;
}

.login-info button:hover {
    background-color: #007bb5;
}

.login-info footer {
    text-align: center;
    font-size: 12px;
}

.footer-applay{
    padding-top: 160px;
}
.login-info footer a {
    color: #0096db;
    text-decoration: none;
}

.login-info footer p{
    color: rgb(177, 174, 174);
}

#version{
    color: gray;
}