body{
    margin:0px;
    background-color: #00111c;
}
.card-piffer{
    display: flex;
    width: 100vh;
    height: 100vh;
    margin-left: 250px;
    justify-content: center;
    align-items: center;
}
.piffer-img{
    width: 320px;
    height: 91.48px;
    top: 329px;
    left: 66px;
    gap: 0px;
    opacity: 0px;
    padding-right: 20px;

}

h1{
    font-family: Poppins;
    font-size: 64px;
    font-weight: 300;
    line-height: 96px;
    text-align: left;
    color: white;

}

.content-box{
    width: 500px;
    height: 100vh;
    position: absolute;
    right: 0px;
    top: 0;
    display: flex;
    background-color: #FCFCFC;
    border-radius: 10px;
    
}
.tela-login{
    flex:1;
    
    height: 352px;

}

.login-info{
    
}